.bannerImage {
    object-fit: cover;
    height: 85vh;
    width: auto;
    max-height: 80%;
    max-width: none;
    overflow: hidden;
}
.contentContainer {
    width: 54%;
    height: 60%;
    background-color: #ededed;
    overflow: hidden;
    align-content: center;
    display: flex;
    object-fit: none;
    position: absolute;
    border-radius: 20px;
    flex-direction: row;
    padding: 20px;
    align-items: start;
    justify-content: start;
}
.pageTitle {
    font-size: 350%;
    left: 5%;
    top: 5%;
    color: #262626;
    position: absolute;
}
.navigationBar {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: transform 0.5s ease-in-out;
    left: 5%;
    width: 90%;
    height: 11%;
    align-self: end;
    bottom: 11px;
}
.navigationBar.slideOut {
    transform: translateY(100%);
}
.button1 {
    border-radius: 50px;
    background-color: #808080;
    opacity: 1;
}
.backButton {
    border: 0px solid #ffffff;
    background-color: #808080;
    width: 10%;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--white);
    font-weight: 500;
    margin-right: 6%;
    height: 60%;
    cursor: pointer;
}
.backButton:disabled {
    cursor: not-allowed;
    background-color: #bdbdbd;
}
.progressCircle {
    position: relative;
    width: 20px;
    height: 20px;
    border: 2px solid #808080;
    border-radius: 50px;
    display: flex;
    align-items: start;
    justify-content: center;
    align-content: start;
    margin: 10px;
}
.progressCircleActive {
    background-color: #e50914;
    border-color: #e50914;
    transition: background-color 0.3s ease;
}
.progressName {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    margin: 18px;
    color: #808080;
    font-weight: 600;
    font-size: 12px;
    transition: font-size 0.3s ease-in-out;
}
.separatorLine {
    width: 25%;
    height: 2px;
    background-color: #808080;
}
.nextButtonEnabled {
    background-color: #e50914;
    border-radius: 50px;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    font-weight: 500;
    margin-left: 6%;
    height: 60%;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: 0px solid black;
}
.nextButtonDisabled {
    background-color: #808080;
    border-radius: 50px;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    font-weight: 500;
    margin-left: 6%;
    height: 60%;
    cursor: not-allowed;
    transition: background-color 0.3s ease;
    border: 0px solid black;
}
.segmentContainer {
    width: 90%;
    height: 50%;
    display: flex;
    left: 5%;
    justify-content: space-around;
    align-self: center;
}
.segmentBlock {
    height: 100%;
    width: 24%;
    border-radius: 20px;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3%;
}
.segmentImage {
    object-fit: contain;
    background-color: #efefef;
    border-radius: 150px;
    width: 75%;
    aspect-ratio: 1;
    margin-top: 0%;
    margin-right: 0%;
    margin-left: 0%;
    margin-bottom: 0%;
}
.segmentName {
    color: #3d3d3d;
    font-weight: 600;
    font-size: 30px;
    position: absolute;
    bottom: 35%;
}
.segmentButton {
    width: 24%;
    height: 120%;
    background-color: #fafafa;
    border: 4px solid #bdbdbd;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3%;
    transition: border-color 0.3s ease;
    cursor: pointer;
}
.segmentButton.activeSegment {
    border: 4px solid #e50914;
}
.contentPage {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
    height: 90%;
    align-self: start;
    left: 0%;
    justify-content: center;
}
.transitionContainer {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.slideOutRight {
    transform: translateX(-100%);
}

.slideOutLeft {
    transform: translateX(100%);
}

.slideIn {
    transform: translateX(0);
}
.segmentScroll {
    width: 90%;
    height: 70%;
    align-self: center;
    position: absolute;
    bottom: 10%;
    overflow-x: hidden;
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: auto;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 12px;
}
.segmentScroll::-webkit-scrollbar {
    width: 8px;
}
.segmentScroll::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 10px;
}
.segmentScroll::-webkit-scrollbar-button {
    display: none;
}
.segmentScroll::-webkit-scrollbar-thumb {
    background-color: #d9dcdb;
    border-radius: 10px;
}
.quantityElement {
    width: 100%;
    height: 50px;
    background-color: #f8f8f8;
    border-radius: 50px;
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
    padding-right: 2%;
    padding-left: 2%;
    padding-top: 8px;
    padding-bottom: 8px;
    margin: 5px;
}
.quantityName {
    width: 60%;
    height: 100%;
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 24px;
    color: #808080;
    font-weight: 500;
}
.quantityInput {
    height: 100%;
    width: 10%;
    background-color: #d9dcdb;
    border-radius: 50px;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    border: 0px solid black;
    padding: 10px;
    color: #262626;
}
.quantityInput::-webkit-outer-spin-button,
.quantityInput::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.quantityInput:focus {
    outline-color: #e50914;
}
.div1 {
    width: 100%;
    height: 5px;
}
.topFade {
    position: fixed;
    left: 5%;
    background-image: linear-gradient(180deg, #ededed 0%, rgba(255, 255, 255, 0) 100%);
    background-color: transparent;
    background-position: 0% 0%;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: scroll;
    background-origin: padding-box;
    background-clip: border-box;
    top: 20%;
    height: 15px;
    width: 89%;
}
.bottomFade {
    width: 89%;
    height: 15px;
    position: absolute;
    left: 5%;
    bottom: 10%;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ededed 100%);
    background-color: transparent;
    background-position: 0% 0%;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: scroll;
    background-origin: padding-box;
    background-clip: border-box;
}
.address1 {
    width: 100px;
    height: 100px;
}
.facilityInput {
    width: 80%;
    height: 10%;
    position: absolute;
    left: 5%;
    border-radius: 50px;
    border: 0px solid black;
    display: flex;
    align-items: center;
    justify-content: start;
    top: 20%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 2%;
    padding-right: 2%;
    background-color: #f8f8f8;
    font-size: 20px;
    font-weight: 500;
}
.facilityInput:focus {
    outline-color: #e50914;
}
.fontHighlight {
    font-weight: 800;
    font-size: 14px;
    color: #3d3d3d;
}

.fontNotlight {
    font-weight: 600;
    font-size: 12px;
    color: #808080;
}
.annualPanel {
    width: 90%;
    height: 25%;
    position: absolute;
    left: 5%;
    top: 20%;
    background-color: #f8f8f8;
    border-radius: 20px;
    display: flex;
    padding: 15px;
    flex-direction: column;
    overflow: hidden;
    justify-content: space-between;
}
.savingsTitle {
    height: 20%;
    text-align: start;
    display: block;
    flex-direction: column;
    justify-content: center;
    font-weight: 600;
    font-size: 28px;
    color: #808080;
    width: 100%;
}
.annualGrossSavings {
    width: 60%;
    height: 60%;
    text-align: start;
    align-content: end;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    color: #e50914;
}
.span1 {
    width: 40%;
}
.annualResultsContainer {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-around;
}
.annualMoney {
    width: 50%;
    height: 100%;
    display: block;
    align-content: end;
    text-align: start;
    font-size: 50px;
    font-weight: 800;
    color: #e50914;
}
.annualPlugs {
    width: 50%;
    height: 100%;
    align-content: end;
    text-align: end;
    font-size: 20px;
    color: #bdbdbd;
    font-style: italic;
    font-weight: 500;
}
.monthlyPanel {
    width: 44%;
    height: 46%;
    position: fixed;
    left: 5%;
    bottom: 5%;
    background-color: #f8f8f8;
    border-radius: 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}
.calculationContainer {
    width: 100%;
    height: 80%;
    align-content: end;
    display: flex;
    flex-direction: column;
    align-items: end;
}
.calculationEntry {
    width: 100%;
    height: 28%;
    align-content: end;
    text-align: end;
    font-weight: 500;
    font-size: 25px;
    color: #808080;
}
.calculationLine {
    width: 100%;
    height: 2px;
    background-color: #262626;
}
.actionCall {
    width: 44%;
    height: 46%;
    position: fixed;
    bottom: 5%;
    right: 5%;
    background-color: #f8f8f8;
    border-radius: 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.p1 {
    width: 100%;
    height: 50%;
    text-align: start;
    font-size: 18px;
    color: #262626;
    font-weight: 400;
}
.orderButton {
    width: 40%;
    height: 20%;
    border-radius: 50px;
    border: 0px solid black;
    background-color: #e50914;
    font-size: 20px;
    color: #ffffff;
    font-weight: 700;
    align-self: end;
    cursor: pointer;
}
